chroma_db/
restaurant-recommender-env/
sentence_transformer_model/
*.rdb
notes.txt
*.env
**/venv/
**/api-venv/

embedding_worker/sentence_transformer_model/

# Airflow runtime
airflow/__pycache__/
airflow/*.db
airflow/logs/
airflow/tmp/
airflow/*.pid
airflow/*.log
airflow/*.cfg
airflow/standalone_admin_password.txt
airflow/webserver_config.py

# Keep Airflow source files
!airflow/Dockerfile
!airflow/requirements.txt
!airflow/dags/

# Docker
!.dockerignore
!*/.dockerignore

# Keep the dags folder and Python files inside it
!airflow/dags/
!airflow/dags/*.py

# Python junk
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.egg-info/

# VSCode or IDE stuff
.vscode/
.idea/
.DS_Store
